.section-about {
  background-color: $color-grey-light-1;
  padding: 25rem 0;
  // total height: 95vh - 75vh = 20vh
  // use -ve to fill in the above space
  margin-top: -20vh;
}

.section-features {
  // top/bottom | left/right
  padding: 20rem 0;
  // gradient background image
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url("../img/nat-4.jpg");
  // cover the entire section
  background-size: cover;

  // skew the entire section
  transform: skewY(-7deg);
  margin-top: -10rem;

  // select all direct child under this element
  // applies on row element only, not the div col etc
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  // top | right | bottom | left
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}
