.form {
  // select everything except last child
  &__group:not(:last-child) {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    // to ensure color works in pseudo elements
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    background-color: rgba($color-white, 0.5);
    border: none;
    // in normal state we add the border at the bottom but make it transparent
    border-bottom: 3px solid transparent;
    width: 90%;
    display: block;

    @include respond(tab-port) {
      width: 100%;
    }

    // : -> pseudo class -> more on the state
    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      // when focussed, make it colored
      // border-width, border-style, border-color
      border-bottom: 3px solid $color-primary;

      &:focus:invalid {
        border-bottom: 3px solid $color-secondary-dark;
      }
    }

    // work in safari and chrome
    // :: -> pseudo elements -> represent things that are actually on the webpage
    &::-webkit-input-placeholder {
      color: $color-grey-dark-2;
    }
  }

  &__label {
    font-size: 1.2rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: 0.7rem;
    // otherwise cannot use box model properties (margin left, top)
    display: block;
    transition: all 0.3s;
  }

  // sibling selector = adjacent sibling
  // adjacent sibling (+): comes immediately after element that we select in the first place
  // apply styles to a label (the target is the label) when the placeholder of an input field is shown (user doesnt type anything)
  &__input:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__radio-group {
    // make button side by side
    width: 49%;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      margin-bottom: 2rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding-left: 4.5rem;
  }

  &__radio-button {
    height: 3rem;
    width: 3rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    // properties above only work if we give block or inline-block element
    display: inline-block;
    position: absolute;
    left: 0;
    top: -0.4rem;

    // pseudo element
    &::after {
      // always specify content property to empty
      content: "";
      display: block;
      height: 1.3rem;
      width: 1.3rem;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      // make small dots in green center
      transform: translate(-50%, -50%);
      background-color: $color-primary;
      // hide small dots
      opacity: 0;
      transition: opacity 0.2s;
    }
  }

  // ~ -> sibling adjacent. we select sibling of the radio input which is radio label but what we want to change exactly is radio button (radio label child)
  &__radio-input:checked ~ &__radio-label &__radio-button::after {
    // make small dots displayed
    opacity: 1;
  }
}
